<h1 class="page-header">{{ username }}</h1>

<h3 class="page-header">{{ postsNumber }} posts by {{ username }}:</h3>

<div class="panel panel-default" *ngFor="let post of posts">
	<div class="panel-heading">
		<div class="panel-title pull-left author">{{ post.author }}</div>
        <div class="panel-title pull-right hidden-xs">{{ post.date | date:'dd.MM.yyyy' }}</div>
        <div class="clearfix"></div>
        <p class="hidden-sm hidden-md hidden-lg">{{ post.date | date:'dd.mm.yyyy' }}</p>  
	</div>
	<div class="panel-body">
	<app-video [video]="post.link"></app-video>
	{{ post.body }}</div>
	<div class="panel-footer">
		<a [routerLink]="['/post', post._id]"><button class="btn btn-primary btn-sm">Comments</button></a>
	</div>
</div>