<div class=container>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="/">Youtube App</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="authService.loggedIn()"><a routerLink="/dashboard">Dashboard</a></li>
        <li *ngIf="authService.loggedIn()"><a routerLink="/publish">Publish</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.loggedIn()"><a routerLink="/profile">Profile</a></li>
        <li *ngIf="authService.loggedIn()"><a href="#" (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <li><a routerLink="/login" *ngIf="!authService.loggedIn()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a routerLink="/signup" *ngIf="!authService.loggedIn()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>