.panel {
	border: 1px solid grey;
}

.author {
	font-weight: bold
}

.alert {
	width: 97%;
}

.jumbotron {
	padding: 10px;
	border: 1px solid grey;
}

a {
	color: black;
}

.hidden-sm {
	margin-left: -10px;
}